<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="space-evenly stretch" class="padding-on-div">
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z8 bg-info1">
            <mat-card-content class="center-vertically">
                <mat-progress-bar mode="query"></mat-progress-bar>
                <h2 class="mat-body mat-h2" [innerHTML]="'totalCases' | translate"></h2>
                <h1 class="mat-body mat-h1"> {{numberWithCommas(data["totalCases"])}} </h1>
                <h4 class="mat-body mat-h4">{{getPercentage(data["population"],data["totalCases"])}} %</h4>
                <mat-progress-bar mode="query"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z8 bg-info1">
            <mat-card-content class="center-vertically">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <h2 class="mat-body mat-h2" [innerHTML]="'totalDeaths' | translate"></h2>
                <h1 class="mat-body mat-h1"> {{numberWithCommas(data["totalDeaths"])}} </h1>
                <h4 class="mat-body mat-h4">{{getPercentage(data["population"],data["totalDeaths"])}} %</h4>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z8">
            <pie-chart [inputPieChartData]="inputPieChartDataTotal" [inputPieChartLabels]="inputPieChartLabelsTotal"></pie-chart>
        </mat-card>
    </ng-container>
</div>

<br><br>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="space-evenly stretch" class="padding-on-div">
    <ng-container>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'totalTests' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["totalTests"])}} </h1>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'newTests' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["newTests"])}} </h1>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'newCases' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["newCases"])}} </h1>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'newDeaths' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["newDeaths"])}} </h1>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>

<br><br>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="space-evenly stretch" class="padding-on-div">
    <ng-container>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'totalVaccinations' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["totalVaccinations"])}} </h1>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'peopleFullyVaccinated' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["peopleFullyVaccinated"])}} </h1>
                <h4 class="mat-body mat-h4">{{getPercentage(data["population"],data["peopleFullyVaccinated"])}} %</h4>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'peopleVaccinated' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["peopleVaccinated"])}} </h1>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 calc(25% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="mat-elevation-z4 bg-info2">
            <mat-card-content class="center-vertically">
                <h2 class="mat-body" [innerHTML]="'newVaccinations' | translate"></h2>
                <h1 class="mat-body"> {{numberWithCommas(data["newVaccinations"])}} </h1>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>