<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let _ of [1,2,3,4,5,6]">
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">Simple card</mat-card>
    </ng-container>
</div>

<div *ngIf="collectedData && collectedData.length > 0">
    <table mat-table [dataSource]="collectedData" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let data"> {{data.name}} </td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Cost </th>
            <td mat-cell *matCellDef="let data"> {{numberWithCommas(data.value)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>



<pie-chart [inputPieChartData]="inputPieChartData" [inputPieChartLabels]="inputPieChartLabels"></pie-chart>